* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    padding: 30px;
    text-align: center;
}

p {
    /* A margem superior e inferior será definida em seletores mais específicos */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

.secao-logo {
    background-color: #afddfb;
}

.secao-logo img {
    width: 150px;
}

.secao-logo p {
    margin: 15px auto 25px auto;
    text-align: center;
}

.secao-logo a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

.secao-banner {
    margin-top: 50px;
    padding-top: 0;
}

h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

.secao-sobre h2 {
    color: #1c81c0;
}

.secao-sobre img {
    width: 450px;
}

.texto-azul {
    color: #1c81c0;
    font-weight: bold;
}

.secao-servicos {
    background-color: #1d80c1;
}

.secao-servicos h2 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.secao-servicos p {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

.texto-amarelo {
    color: #fff81b;
    font-weight: bold;
}

.secao-servicos li {
    margin: 40px auto;
    width: 135px;
}

li {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.secao-corretores h2 {
    color: #1c81c0;
    font-size: 28px;
    line-height: 42px;
}

.secao-corretores img {
    width: 450px;
}

.secao-corretores span {
    color: #1c81c0;
    font-weight: bold;
}

.secao-contato {
    background-color: #1d80c1;
}

.secao-contato h2 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.secao-contato p {
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin: 30px auto;
}

.secao-contato .texto-amarelo {
    color: #fff81b;
    font-weight: bold;
}

.secao-contato ul {
    list-style: none;
    margin: 40px auto;
    width: 210px;
}

.secao-contato li {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.secao-contato li a {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
    /* Adicionado para remover sublinhado padrão */
}